
    <div class="card">
        <div class="content">
            <div class="header">
                <div class="stats" style="text-align: center;">
                    Selamat Datang <b><%= current_user.name %></b> anda masuk sebagai <b><%= current_user.role %></b><br> di Sistem Informasi Produksi barang di PT Cisangkan Purwakarta<br>(SIPORSI)
                </div>
            </div>
        </div>
    </div>
</div>