
<div class="card">
  <div class="header">
    <h4 class="title">Instruksi Produksi</h4>
    <p class="category">Here is a subtitle for this table</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Permintaan Bahan</th>
        <th>Date</th>
        <th>Aksi</th>
      </thead>
      <tbody>
        <% @ips.each do |ip| %>
        <tr>
          <td><%= ip.id %></td>          
          <td><%= ip.pb_id %></td>        
          <td><%= ip.date %></td>        
          <td><%= link_to 'Edit', edit_ip_path(ip), class: "btn btn-info btn-fill btn-sm" %>
            
          </td>
        </tr>              
        <%end%>
      </tbody>
    </table>

  </div>
</div>
